<section class="container">
    <form ng-submit="$ctrl.addProduct($ctrl.newProduct);">
        <h2>Add Item</h2>
        <input class="product-input" type="text" ng-model="$ctrl.newProduct.product" placeholder="Product">
        <input class="product-input" type="text" ng-model="$ctrl.newProduct.price" placeholder="Price">
        <input class="product-input" type="text" ng-model="$ctrl.newProduct.quantity" placeholder="Quantity">
        <button>Add Item</button>
    </form>
    <section class="list">
        <section class="item-card" ng-repeat="product in $ctrl.listofProducts">
            <section class="item-info">
                <p class="item-name">{{product.product}}</p>
                <p>Price: ${{product.price}}</p>
                <p>Quantity: <input class="update-input" type="text" ng-blur="$ctrl.updateProduct(product);" ng-model="product.quantity"></p>
            </section>
            <section class="button-sec">
                <i ng-click="$ctrl.deleteProduct(product.id);" class="fas fa-times"></i>
            </section>
        </section>
    </section>
</section>